.cu-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    outline: none;
    border: none;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 14px;
    height: 32px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    overflow: visible;
    margin-left: initial;
    transform: translate(0px, 0px);
    margin-right: initial;
    &:after {
        display: none;
    }
    &::not([class*="bg-"]) {
        background-color: #f0f0f0;
    }
    &.sm {
        padding: 0 10px;
        font-size: 10px;
        height: 24px;
    }
    &[class*="line"] {
        background-color: transparent;
    }
    &[class*="line"]:after {
        content: " ";
        display: block;
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid currentColor;
        transform: scale(0.5);
        transform-origin: 0 0;
        box-sizing: border-box;
        border-radius: 12px;
        z-index: 1;
        pointer-events: none;
    }
    &.round[class*="line"]::after {
        border-radius: 500px;
    }
    &[class*="lines"]::after {
        border: 6px solid currentColor;
    }
    &[class*="bg-"]::after {
        display: none;
    }
    &[disabled] {
        opacity: 0.6;
        color: #fff;
    }
    &.sm {
        padding: 0 10px;
        font-size: 10px;
        height: 24px;
    }
    &.lg {
        padding: 0 10px;
        font-size: 10px;
        height: 24px;
    }
    &.icon {
        width: 32px;
        height: 23px;
        border-radius: 250px;
        padding: 0;
    }
    &.icon.sm {
        width: 24px;
        height: 24px;
    }
    &.icon.lg {
        width: 40px;
        height: 40px;
    }
    &.shadow-blur::before {
        top: 2px;
        left: 2px;
        filter: blur(6px);
        opacity: 0.6;
    }
    &.block {
        display: flex;
        width: 100%;
    }
    &.button-hover {
        transform: translate(1px, 1px);
    }
}

.block {
    display: block;
}

