/* ==================
          列表
 ==================== */
.cu-list{
    &.menu {
        @include block-display;
        @include hidden-overflow;
    }
    &+.cu-list {
        margin-top: 15px;
    }
    &.menu>.cu-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        @include hidden-overflow;
        background: $color-fff;
        padding: 0 15px;
        &:after {
            content: "";
            width: 200%;
            height: 200%;
            @include absolute-position;
            top: 0;
            left: 0;
            border-radius: $inherit;
            transform: scale(0.5);
            transform-origin: 0 0;
            pointer-events: $none;
            @include box-border;
            border-bottom: 1px solid #ddd;
        }
    }
    &.menu.sm-border>.cu-item:after {
        width: calc(200% - 120px);
        left: 7px;
    }
    &.menu>.cu-item:last-child::after {
        border: $none;
    }
    &.menu>.cu-item.cur {
        background-color: $color-fcf7e9;
    }
    &.menu-avatar>.cu-item {
        padding-left: 17px;
        min-height: 70px;
    }
    &.menu-avatar>.cu-item .cu-avatar {
        left: 7px;
    }
    &.menu>.cu-item .content {
        line-height: 1.6em;
        flex: 1;
        font-size: 15px;
    }
    &.menu>.cu-item button.content {
        padding: 0;
        justify-content: flex-start;
        background-color: transparent;
    }
    &.menu>.cu-item button.content::after {
        display: $none;
    }
    &.menu>.cu-item .content>span[class*="icon"] {
        margin-right: 5px;
        @include inline-block-display;
        width: 1.6rem;
        @include center-text-align;
    }
    &.menu>.cu-item .content>img {
        margin-right: 5px;
        @include inline-block-display;
        width: 1.6em;
        height: 1.6em;
        @include middle-vertical-align;
    }
    &.menu-avatar>.cu-item .action {
        @include center-align-items;
    }
    &.menu-avatar>.cu-item .action div+div {
        margin-top: 5px;
    }
    &.menu>.cu-item .action .cu-tag:empty {
        right: 5px;
    }
    &.menu>.cu-item.arrow {
        padding-right: 45px;
    }
    &.menu>.cu-item.arrow::before {
        font-family: "iconfont";
        @include block-display;
        content: "\e6a3";
        @include absolute-position;
        font-size: 17px;
        color: $color-aaa;
        line-height: 15px;
        height: 15px;
        width: 15px;
        @include center-align-items;
        top: 0px;
        bottom: 0;
        right: 15px;
        margin: auto;
    }
    &.menu>.cu-item .cu-avatar-group .cu-avatar {
        border-color: $color-fff;
    }
    &.card-menu {
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 10px;
        @include hidden-overflow;
    }
    &.menu-avatar>.cu-item {
        padding-left: 70px;
        height: 35px;
    }
    &.menu-avatar>.cu-item>.cu-avatar {
        @include absolute-position;
        left: 15px;
    }
    &.menu-avatar.comment>.cu-item {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
    }
    &.menu-avatar.comment .cu-avatar {
        align-self: flex-start;
    }
    &.menu>.cu-item .content .cu-tag.sm {
        font-size: 8px;
        line-height: 40%;
        padding: 4px 3px 2px;
        margin-top: -3px;
    }
    &>.cu-item {
        transform: translateX(0px);
        transition: all 0.6s ease-in-out 0s;
    }
    &>.cu-item .move {
        @include flex-display;
        width: 260px;
        height: 100%;
        @include absolute-position;
        right: 0;
        transform: translateX(100%);
    }
    &>.cu-item.move-cur {
        transform: translateX(-260px);
    }
    &>.cu-item .move div {
        flex: 1;
        @include flex-display;
        @include center-justify-content;
        @include center-align-items;
    }
    &.grid {
        @include center-text-align;
        background: $color-fff;
    }
    &.grid>.cu-item {
        @include flex-display;
        flex-direction: column;
        padding: 10px 0 15px;
        @include relative-position;
        transition-duration: 0s;
    }
    &.grid>.cu-item [class*="icon"] {
        @include block-display;
        width: 100%;
        @include relative-position;
        font-size: 24px;
        margin-top: 10px;
    }
    &.grid>.cu-item span {
        @include block-display;
        color: #888;
        margin-top: 5px;
        line-height: 20px;
        font-size: 12px;
    }
    &.grid>.cu-item .cu-tag {
        left: 50%;
        right: auto;
        margin-left: 20px;
    }
    &.grid>.cu-item:after {
        content: " ";
        width: 200%;
        height: 200%;
        @include absolute-position;
        top: 0;
        left: 0;
        border-radius: $inherit;
        transform: scale(0.5);
        transform-origin: 0 0;
        pointer-events: $none;
        @include box-border;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        // content: " ";
        // position: absolute;
        // left: 0;
        // top: 0;
        // right: 0;
        // height: 1px;
        // border-bottom: 1px solid rgba(0,0,0,.1);
        // border-right: 1px solid rgba(0, 0, 0, 0.1);
        // color: rgba(0,0,0,.1);
        // transform-origin: 0 0;
        // transform: scaleY(0.5);
    }
    &.grid.col-3>.cu-item:nth-child(3n):after {
        border-right-width: 0px;
    }
    &.grid.col-4>.cu-item:nth-child(4n):after {
        border-right-width: 0px;
    }
    &.grid.col-5>.cu-item:nth-child(5n):after {
        border-right-width: 0px;
    }
    &.grid.no-border {
        padding: 20px 10px;
    }
    &.grid.no-border>.cu-item {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    &.grid.no-border>.cu-item:after {
        border: none;
    }
}


