/* ==================
          徽章
 ==================== */

 .cu-tag {
    font-size: 12px;
    vertical-align: middle;
    @include relative-position;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include black-box-shadow;
    padding: 0px 8px;
    height: 24px;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    &:not([class*="bg"]):not([class*="line"]) {
        background-color: #f1f1f1;
    }
    &[class*="line-"]::after {
        content: " ";
        width: 200%;
        height: 200%;
        @include absolute-postion;
        @include black-box-shadow;
        top: 0;
        left: 0;
        border: 2px solid currentColor;
        transform: scale(0.5);
        transform-origin: 0 0;
        @include box-border;
        border-radius: $inherit;
        z-index: 1;
        pointer-events: none;
    }
    &+.cu-tag {
        margin-left: 5px;
    }
    &.radius[class*="line"]::after {
        border-radius: 6px;
    }
    &.round[class*="line"]::after {
        border-radius: 1000px;
    }
    &.sm {
        font-size: 10px;
        padding: 0px 6px;
        height: 18px;
    }
}

// 胶囊
.cu-capsule {
    display: inline-flex;
    vertical-align: middle;
    &+.cu-capsule {
        margin-left: 5px;
    }
    .cu-tag {
        margin: 0;
        &[class*="line-"]:last-child::after {
            border-left: 0px solid transparent;
        }
        &.cu-tag[class*="line-"]:first-child::after {
            border-right: 0px solid transparent;
        }
        &.badge {
            background: #dd514c !important;
            border-radius: 100;
            @include absolute-postion;
            top: -5px;
            right: -5px;
            font-size: 10px;
            padding: 0px 5px;
            height: 14px;
            color: #fff;
        }
        &:empty:not([class*="icon"]) {
            padding: 0px;
            width: 8px;
            height: 8px;
            top: -2px;
            right: -2px;
        }
        &[class*="icon"] {
            width: 16px;
            height: 16px;
            top: -2px;
            right: -2px;
        }
    }
    &.radius .cu-tag:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}

.cu-capsule.radius .cu-tag:last-child::after,
.cu-capsule.radius .cu-tag[class*="line-"] {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.cu-capsule.round .cu-tag:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    text-indent: 2px;
}

.cu-capsule.round .cu-tag:last-child::after,
.cu-capsule.round .cu-tag:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    text-indent: -2px;
}