@import '../common/common.scss';
.tabbar {
    @include flex-display;
    @include relative-position;
    @include center-align-items;
    min-height: 50px;
    justify-content: space-between;
    @extend .foot;
    padding: 0;
    &.shadow {
        @include black-box-shadow;
    }
    .action {
        font-size: 10px;
        flex: 1;
        @include relative-block;
        @include center-text-align;
        padding: 0;
        height: auto;
        line-height: 1;
        margin: 0;
        background-color: $initial;
        overflow: $initial;
        width: 140px;
        flex: $initial;
        [class*="icon"] {
            width: 50px;
            @include relative-block;
            height: auto;
            margin: 0 auto 5px;
            @include center-text-align;
            font-size: 18px;
        }
    }
}

